Options -Indexes

RewriteEngine On

# Pokud server bude mít problémy se správným zpracováním přesměrování, může pomoci odkomentování následujícího řádku
RewriteBase /

# Povolení přímého přístupu k konfiguračním souborům pro prohlížeče
RewriteCond %{REQUEST_URI} !^/robots\.txt

# Povolení přímého přístupu k souborům s danými příponami
RewriteRule !\.(css|js|txt|ico|svg|gif|png|jpg|gz)$ index.php [L]

# Nastavení .phtml souborů jako .php soubory
AddType application/x-httpd-php .php .phtml

# Komprese HTML, CSS, JavaScript, Text, XML a fontů
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml
</IfModule>

ErrorDocument 400 /Views/errors/400.phtml
ErrorDocument 401 /Views/errors/401.phtml
ErrorDocument 403 /Views/errors/403.phtml
ErrorDocument 404 /Views/errors/404.phtml
ErrorDocument 406 /Views/errors/406.phtml
ErrorDocument 410 /Views/errors/410.phtml
ErrorDocument 500 /Views/errors/500.phtml
