th, td {
    text-align: center;
    padding: 0 16px;
}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-box {
    border: 2px solid black;
    border-radius: 8px;
    display: inline-block;
    width: max-content;
    font-size: 1.5em;
    text-align: center;
    margin: 8px;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.category-box:hover {
    background-color: #ccc!important;
}

.category-box>p {
    margin: 24px;
}

.plain-link {
    color: unset;
    text-decoration: none;
}
