body {
    margin: 0;
}

nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.nav-row {
    display: flex;
    flex-direction: column;
}

.nav-item {
    font-size: 20px;
    height: 32px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.nav-item:hover {
    background-color: #ddd;
}

@media (min-width: 401px) {
    nav {
        flex-direction: row;
    }
    .nav-row:first-child > .nav-item {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    .nav-row:last-child > .nav-item {
        border-right: 1px solid black;
    }
    .nav-item {
        width: 50vw;
    }
}

@media (min-width: 802px) {
    .nav-row, .nav-row {
        flex-direction: row;
    }
    .nav-item {
        width: 25vw;
    }
}

#manage-link-data-sender {
    display: none;
}

main {
    width: 50%;
    min-width: 600px;
    margin: auto;
    position:relative;
}

@media (max-width: 620px) {
    main {
        margin: 0 10px;
        width: unset;
        min-width: unset;
    }
}

.wide-table {
    display: block;
    width: max-content;
    min-width: 100%;
    max-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.striped-table {
    border-collapse: collapse;
}

.striped-table tr:nth-child(even) {
    background-color: #eee;
}

