th, td {
    text-align: center;
    padding: 0 16px;
}

.icon-wrapper {
    padding: 0;
}

.no-results {
    text-align: center;
    color: orangered;
}

input[type=password] {
    font-family: monospace;
    width: 31ch;
}

.plain-link {
    text-decoration: unset;
    color: unset;
}

.icon.shadow-green:hover {
    box-shadow: 0 0 8px #8eff4d;
    background-color: #c2ffb1;
}

.icon.shadow-blue:hover {
    box-shadow: 0 0 8px #4d9cff;
    background-color: #b1d4ff;
}

.icon.shadow-purple:hover {
    box-shadow: 0 0 8px #a34dff;
    background-color: #e2b1ff;
}

.icon.shadow-orange:hover {
    box-shadow: 0 0 8px #ffaa00;
    background-color: #ffe6b4;
}

.icon.shadow-yellow:hover {
    box-shadow: 0 0 8px #ffcc00;
    background-color: #ffe98f;
}

.icon.shadow-red:hover {
    box-shadow: 0 0 8px #ff4f4f;
    background-color: #ffb2b2;
}

