th, td {
    text-align: center;
    padding: 0 16px;
}

.txt-l {
    text-align: left;
}

.no-results {
    text-align: center;
    color: orangered;
}

input[type=password] {
    font-family: monospace;
    width: 31ch;
}

.plain-link {
    text-decoration: unset;
    color: unset;
}

.icon {
    height: 1em;
}

a > .shadow-blue:hover {
    box-shadow: 0 0 8px #4d9cff;
    background-color: #b1d4ff;
}

a > .shadow-yellow:hover {
    box-shadow: 0 0 8px #ffcc00;
    background-color: #ffe98f;
}

a > .shadow-red:hover {
    box-shadow: 0 0 8px #ff4f4f;
    background-color: #ffb2b2;
}

